{% extends 'base.html' %}
{% load staticfiles %}
{% block content %} 
     <div id="title">
      <h1>Profile</h1>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="https://files.catbox.moe/7x9ffo.png" width=350,height=350>
        </div>
        <div class="col-sm-6">
          <p>Alvin Hariman.</p>
          <p>1806205432</p>
        </div>
      </div>
    </div>
{% endblock %}